# Git files
.git

# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Yarn integrity file
.yarn-integrity

# IntelliJ IDE
.idea

# Build directory
dist

# configuration
.env
.env*

# Visual Studio Code
.vscode

# Tests
coverage
.nyc_output
test
*.spec.js
*.spec.ts
*.e2e-spec.ts

# Vim swp files
*.swp

# Compiled files
*.tfstate*
.terraform.lock.*
.terraform.tfstate.lock.info

# Module directory
.terraform/
terraform/

# OS files
.DS_Store
